<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    
    <!-- tailwindcss -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <title>Boston housing</title>
</head>
<body
    class="bg-gray-100 flex flex-col items-center justify-center min-h-screen"
>
    {% block content %}{% endblock %}
</body>
</html>