<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap"
        rel="stylesheet">    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treinamento secao 01</title>
    <link rel="stylesheet" href='{{ url_for("static", path="css/main.css") }}'>
    <link rel="stylesheet" href='{{ url_for("static", path="css/reset.css") }}'>
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="container">
            <h2>LOGO</h2>
            <nav>
                <ul>
                    <li><a href="/">link</a></li>
                    <li><a href="/">link</a></li>
                    <li><a href="/">link</a></li>
                </ul>
                <button>Clicar</button>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; WGN - 2024 </p>
        </div>
    </footer>

</body>
</html>